.planview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "menu   menu    menu    menu    menu"
        "trip   map     map     map     day"
        "trip   map     map     map     day"
        "trip   map     map     map     day";
    max-height: 100%;
}

.trip {
    grid-area: trip;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 0.25rem solid #0b46a5;
    border-left: 0.15rem solid #0b46a5;
    background: linear-gradient(#e6eaf2, white);
    min-height: 500px;
}

.day {
    grid-area: day;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 0.15rem solid;
    background: linear-gradient(#e6eaf2, white);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;
}

.menu {
    grid-area: menu;
}

.menu > ul {
    list-style-type: none;
    background-color: #0b46a5;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0;
}

.menu li {
    float: left;
    text-align: center;
}

.menu li * {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.menu li:hover {
    background-color: #053177;
}

.map {
    grid-area: map;
    max-height: 100%;
}

#mapid {
    height: 100%;
}
/*
@media only screen and (min-width: 800px) {
.planview {
    display: grid;
    grid-template-areas:
        "menu   menu    menu    menu"
        "trip   map     map     day"
        "trip   map     map     day"
        "trip   .       .       day";
}
}
*/
