<!DOCTYPE html>
<html lang="en_US">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/planner.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin=""/>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
  <div class="planview">
    <div class="menu">
      <ul>
        <li class="dropdown"><a href="javascript:void(0)">Manage Plan</a></li>
        <li><a id="newday">+ New Day</a></li>
      </ul>
    </div>
    <div class="day" id="app">
      <place-description
        v-for="place in places"
        v-bind:key="place.id"
        v-bind:identifier="place.id"
        v-bind:title="place.name"
      ></place-description>
    </div>
    <div class="trip" id="dayPlan">
    </div>
    <div class="map">
      <div id="mapid"></div>
    </div>
  </div>
<script>
  var mymap = L.map('mapid').setView([42.331427, -83.046597], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: '***REMOVED***'
  }).addTo(mymap);
  function addDestination(info) {
    $(".trip ul:last-child").append(
      "<li>" + info.latlng + "</li>"
    );
  }
  function getPoints() {
    return new Promise(function(resolve, reject) {
      var coordinates = mymap.getBounds();
      var request = new XMLHttpRequest();
      var FD = new FormData();
      FD.append('north', coordinates.getNorth());
      FD.append('south', coordinates.getSouth());
      FD.append('east', coordinates.getEast());
      FD.append('west', coordinates.getWest());
      FD.append('tourism', "true");
      request.open("POST", "/query/");
      request.onload = function() {
        if(request.status == 200) {
          resolve(JSON.parse(request.responseText));
        } else {
          reject(Error(request.statusText));
        }
      }
      request.onerror = function() {
        reject(Error("Network Error"));
      }
      request.send(FD);
    });
  }
  var tourist_spots = L.layerGroup({}).addTo(mymap);
  function addLayer() {
    getPoints().then(function(locations) {
      var tourism = [];
      var placeList = [];
      locations.elements.forEach(function(item) {
        if(item.tags.hasOwnProperty('tourism')) {
          if(item.tags.hasOwnProperty('name')) {
            var place = {
              "name": item.tags.name,
              "id": item.id
            }
          } else {
            var place = {
              "name": item.tags.tourism,
              "id": item.id
            }
          }
          var name = '<h3>' + place.name + '</h3>';
          var newplace = L.marker([item.lat, item.lon]).bindPopup(name);
          tourism.push(newplace);
          placeList.push(place);
        }
      });
      if(mymap.hasLayer(tourist_spots)){
        mymap.removeLayer(tourist_spots);
      }
      tourist_spots = L.layerGroup(tourism).addTo(mymap);
      locationList.places = placeList;
    }, function(error) {
      console.error("getting points failed", error);
    })
  }
  $("#newday").on("click", function() {
    var latest = dayPlans.trip.slice(-1)[0].title;
    dayPlans.trip.push({
      title: latest + 1,
      places: []
    });
  });
  mymap.on('load', addLayer);
  mymap.on('moveend', addLayer);

  Vue.component('place-description', {
    delimiters: ['~{','}~'],
    props: ['title', 'identifier'],
    template: `
      <div :id=identifier hidden="true">
        <h3>~{ title }~</h3>
      </div>
    `
  });

  var locationList = new Vue({
    el: "#app",
    data: {
      trip: [],
      places: []
    }
  });

  var dayPlans = new Vue({
    el: "#dayPlan",
    data: {
      trip: [
        {
          title: 1,
          places: []
        }
      ]
    }
  });
</script>
</html>
