<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/planner.css') }}">
<html lang="en_US">
  <div class="planview">
    <div class="menu">
      <ul>
        <li class="dropdown"><a href="javascript:void(0)">Manage Plan</a></li>
        <li><a>+ Add Location</a></li>
        <li><a>Budget</a></li>
      </ul>
    </div>
    <div class="day">
      <p>individual days will go here</p>
      <p>the day will consist of each place to go to, with suggestions of other stuff to do</p>
    </div>
    <div class="trip">
      <p>the trip outline will go here</p>
      <p>ideally this will be a box in the end that kind of sticks to the side</p>
    </div>
    <div style="grid-area: map">
      <p>This is where our map will go</p>
      <p>I don't know if I'll have to make this myself or if there's a library for it</p>
    </div>
  </div>
</html>
